<%= form_for(@key) do |f| %>
  <% if @key.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@key.errors.count, "error") %> prohibited this key from being saved:</h2>

      <ul>
      <% @key.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Company %><br>
    <%= f.text_field :Company %>
  </div>
  <div class="field">
    <%= f.label :Description %><br>
    <%= f.text_area :Description %>
  </div>
  <div class="field">
    <%= f.label :Checkin %><br>
    <%= f.date_select :Checkin %>
  </div>
  <div class="field">
    <%= f.label :Checkout %><br>
    <%= f.date_select :Checkout %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
