<h1>Listing keys changed 3:41</h1>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Description</th>
      <th>Checkin</th>
      <th>Checkout</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @keys.each do |key| %>
      <tr>
        <td><%= key.Company %></td>
        <td><%= key.Description %></td>
        <td><%= key.Checkin %></td>
        <td><%= key.Checkout %></td>
        <td><%= link_to 'Show', key %></td>
        <td><%= link_to 'Edit', edit_key_path(key) %></td>
        <td><%= link_to 'Destroy', key, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Key', new_key_path %>
