<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @key.Company %>
</p>

<p>
  <strong>Description:</strong>
  <%= @key.Description %>
</p>

<p>
  <strong>Checkin:</strong>
  <%= @key.Checkin %>
</p>

<p>
  <strong>Checkout:</strong>
  <%= @key.Checkout %>
</p>

<%= link_to 'Edit', edit_key_path(@key) %> |
<%= link_to 'Back', keys_path %>
